@font-face {
  font-family: "Circular Std";
  src: url("./assets/fonts/Circular-Std-Font");
  font-style: normal;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  color: "#001233";
  box-sizing: border-box;
  font-family: "Circular Std";
  background-color: "#FCFCFC";
}
